
.timer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-text{
    font-size: 124px;
    font-family: "adrianna", sans-serif;
}


.timer-controls{
    column-gap: 10px;
    button{
        font-family: "adrianna", sans-serif;
        background-color: var(--global-color-purple);
        color: var(--global-color-white);
        border: none;
        border-radius: 6px;
        font-size: 18px;
       
        padding: 6px 24px;
        cursor: pointer;
    }
}

.interval-counter-container{
    flex-direction: column;
    row-gap: 12px;
    justify-content: center;
    align-content: center;
    .interval-counter-dot{
        width:25px;
        max-height: 25px;
        border-radius: 1000px;
        border: 2px solid #000;

    }
    .interval-counter-dot.interval-active{
        background-color: var(--global-color-purple);
        border: unset;
    }
}

.timer-interval-container{
    flex-direction: row;
}