.task-list-container{
    color:var(--global-color-white);
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.26);
    padding: 12px 24px;
    min-height: 100vh;
    overflow-y: auto;
    row-gap: 36px;
    z-index: 100;
    h2{
        margin-bottom:-12px;
    }
}

.task-list-container::-webkit-scrollbar{
    display: none;
}

.task-list{
    position: fixed;
    right: 0;
    top: 0;
    max-width: 350px;
    max-height: 100vh;
    transition: right 0.4s ease-in-out; /* Add transition for right property */
}



.task-card{
    flex-direction: column;
}

.toggle-task-list{
    max-width: fit-content;
    color: var(--global-color-white);
    padding: 64px 12px;
    max-height: max-content;
    background-color: var(--global-color-light-purple);
    margin: auto;
    border-radius: 10px 0px 0px 10px;
    transition: .3s;
    font-size: 24px;
}


.task-card-group{
    flex-direction: column;
    row-gap: 12px;
}

.toggle-task-list.rotate-icon svg{
    transform: rotate(180deg);
}
.hidden-task-list{
    right:-245px
}

.task-card{
    max-height: fit-content;
    color: var(--global-color-slate);
    padding: 12px;
    padding-bottom: 24px;
    border-radius: 6px;
    background-color: var(--global-color-white);
}

.task-selected{
    max-width: 200px;
    padding: 12px 12px 24px;
    background-color: var(--global-color-lavendar);
}