.app-container{
    min-width: 100vw;
   min-height: 100vh;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
}